apiVersion: apps/v1
kind: Deployment
metadata:
  name: claims-service-deployment
  labels:
    app: claims-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: claims-service
  template:
    metadata:
      labels:
        app: claims-service
    spec:
      containers:
        - name: claims-service
          image: ${ECR_URL}/claims-service:latest
          ports:
            - containerPort: 3000

          resources:
            requests:
              memory: "300Mi"
              cpu: "250m"

---

apiVersion: v1
kind: Service
metadata:
  name: claims-service
spec:
  selector:
    app: claims-service
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
