apiVersion: v1
kind: Service
metadata:
  name: claim-service
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  selector:
    app: claim-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000